= render 'shared/errors', object: @project

= form_for(@project) do |f|
  = f.text_field :name, placeholder: 'Project name'
  = f.text_field :tech, placeholder: 'Technologies used'
  = f.text_field :url, placeholder: 'Project URL'
  = f.file_field :image, placeholder: 'Project image'
  = f.text_area :description, placeholder: 'Project description', size: '60x12'
  = f.submit @project.new_record? ? 'Create' : 'Update'
  = button_to 'Cancel', projects_path, class: "cancel" unless @project.new_record?
