.cards
  - @projects.each do |project|
    .card
      .card-image
        %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"}/
      .card-header
        = project.name
      .card-copy
        %p= project.description
        %p= link_to "#{project.url}", project.complete_url
      .card-stats
        %ul
          - project.tech_array.each do |tech|
            %li
              = tech
          -if admin_signed_in?
            %li
              = link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?'}, class: 'action'
            %li
              = link_to 'Edit', edit_project_path(project), class: 'action'

= link_to "New Project", new_project_path, class: 'new-project' if admin_signed_in?
