%header.navigation
  .navigation-wrapper
    %a.logo{:href => "javascript:void(0)"}
      %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}/
    %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
    .nav
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link
          %a.scroll-on-page-link= link_to 'About', root_path
        %li.nav-link
          %a.scroll-on-page-link= link_to "Projects", projects_path
        %li.nav-link
          %a.scroll-on-page-link= link_to 'Contact', new_contact_path
        / / %li.nav-link.more
        / /   %a{:href => "javascript:void(0)"} More
        / /   %ul.submenu
        / /     %li
        / /       %a{:href => "javascript:void(0)"} Submenu Item
        / /     %li
        / /       %a{:href => "javascript:void(0)"} Another Item
        / /     %li.more
        / /       %a{:href => "javascript:void(0)"} Item with submenu
        / /       %ul.submenu
        /         / %li
        /           %a{:href => "javascript:void(0)"} Sub-submenu Item
        /         %li
        /           %a{:href => "javascript:void(0)"} Another Item
        /     %li.more
        /       %a{:href => "javascript:void(0)"} Another submenu
        /       %ul.submenu
        /         %li
        /           %a{:href => "javascript:void(0)"} Sub-submenu
        /         %li
        /           %a{:href => "javascript:void(0)"} An Item
        - if !admin_signed_in?
          %li.nav-link
            %a.scroll-on-page-link.sign-in= link_to "Sign In", sign_in_path
        - else
          %li.nav-link
            %a.scroll-on-page-link.sign-in= link_to "Sign Out", sign_out_path, method: :delete
    / .navigation-tools
    /   .search-bar
    /     .search-and-submit
    /       %input{:placeholder => "Enter Search", :type => "search"}/
    /       %button{:type => "submit"}
    /         %img{:alt => "Search Icon", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png"}/
    /   %a.sign-up{:href => "javascript:void(0)"} Sign Up
